/* html {
    width: fit-content!important;
} */

.trailer-cont {
    position: relative;
}
.trailer-cont:hover {
    /* opacity: 0.6; */
    cursor: pointer;

}
.trailer-cont:hover .trailer{
    
    filter: blur(0);
}
.trailer-cont:hover h5{
    transform: scale(1.1) translate(-50%, -50%) ;
}

h5 {
    position: absolute;
    color: #E50914;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s;
}

.trailer {
    margin: 0 auto;
    position: relative;
    margin-top: 10px;
    width: fit-content !important;
    height: fit-content;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    /* background-color: #e50914a2; */
    filter: blur(5px);
    transition: all .4s;
}

.trailer iframe {
    width: 300px!important;
}

.trailer-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.89);
    /* opacity: 0.7; */
    filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.trailer h5{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-self: center;
    color: #E50914;
    text-align: center;
    /* filter: invert(100%) */
    z-index: 100;
}

.videos {
    visibility: hidden;
    position: fixed;
    display: grid;
    width: 0px;
    height: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgba(0, 0, 0, 0.84);
    z-index: 9000;
    transition: all 0.3s;
    opacity: 0;
    /* filter: blur(2px); */
}

.videos iframe {
    visibility: hidden;
    opacity: 0;
    width: 90%;
    height: 90%;
    align-self: center;
    justify-self: center;
    transform: all 0.3s;
}

.videos.videos-show {
    visibility: visible;
    width: 90%;
    height: 90%;
    opacity: 1;
    z-index: 10000;
}
.videos.videos-show iframe {
    visibility: visible;
    opacity: 1;
}

.x {
    background-image: url('../../../assets/images/xRed.png');
    background-size: cover;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    z-index: 10000;
}

.x:hover {
    cursor: pointer;
    opacity: 0.6;
}

.videos::-webkit-scrollbar {
    width: 2px;
}

/* Track */
.videos::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

/* Handle */
.videos::-webkit-scrollbar-thumb {
    background: #E50914;
    border-radius: 5px;

}

@media (max-width: 768px) {
    .trailer {
        justify-self: center;
        width: 90%;
    }

    .trailer-cover {
        width: 100%;
    }

    .trailer iframe {
        width: 150px!important;
        justify-self: center;
        align-self: center;
    }

    .videos {
        grid-template-columns: 1fr;
    }

    .videos.videos-show {
        height: 70%;
        overflow-y: scroll;
    }
    
}
@media (max-width: 992px) {
    .trailer-cover {
        width: 100%;
    }

    .trailer iframe {
        width: 200px;
        justify-self: center;
        align-self: center;
    }
    
}
@media (max-width: 1400px) {
    .trailer iframe {
        width: 150px!important;
        justify-self: center;
        align-self: center;
    }
}
@media (min-width: 1400px) {
    .trailer iframe {
        width: 400px;
        justify-self: center;
        align-self: center;
    }
    
}