<div *ngIf="videos.length > 0" class="cont">
    <div  (click)="showVideos(v)" class="trailer-cont">
        <div   class="trailer">
            <iframe frameborder="0" allowfullscreen="true" *ngFor="let video of videos"  [src]="video | safe"></iframe>
            <div class="trailer-cover">
            </div>
        </div>
        <h5>Show <span class="black">{{moreVideos.length > 1? moreVideos.length: ''}}</span> video{{moreVideos.length > 1? 's': ''}} <img src="../../../assets/images/videosRed.png" alt="" srcset="" width="50px"></h5>
    </div>
    
    
    <div #v class="videos">
        <iframe allowfullscreen="true" *ngFor="let video of moreVideos" [src]="video | safe" frameborder="0"></iframe>
        <div (click)="hideVideos(v)" class="x"></div>
    </div>
    <div (click)="hideVideos(v)" class="x2"></div>
</div>


