<nav class="navbar navbar-expand-lg fixed-top" [ngStyle]="navbg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SHOWTIME</a>
    <button (click)="hideError()" class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div #collapse class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/watchlist">
            Watchlist
            <img src="../../../assets/images/watchRed.png" alt="" srcset="" width="20px">
          </a>
        </li>
        <li class="nav-item dropdown ms-lg-auto mb-1">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Genres
          </a>
          <ul class="dropdown-menu ">
            <li *ngFor="let genre of genres"><a class="dropdown-item"
                routerLink="genres/{{genre.name}}/{{genre.id}}/1">{{genre.name}}</a></li>
          </ul>
        </li>
        <form #form [formGroup]="searchForm"
          (submit)="search($event, s.value)" class="d-flex" role="search">
          <div class="btn type-btn" data-bs-toggle="dropdown">{{searchType}}</div>
          <ul class="dropdown-menu types w-25">
            <li #all (click)="changeSearchType(all)" class="dropdown-item">All</li>
            <li #movie (click)="changeSearchType(movie)" class="dropdown-item">Movie</li>
            <li #actor (click)="changeSearchType(actor)" class="dropdown-item">People</li>
          </ul>
          <input id="searchInput" formControlName="searchTerm" (keyup)="showResults(s.value)" #s
            (keyup.enter)="search($event, s.value)" [value]="s.value" class="form-control me-2" type="search"
            placeholder="Search SHOWTIME" aria-label="Search">
          <!-- </div> -->
          <!-- <li class="nav-item dropdown ms-lg-auto mb-1"> -->
          <button
            (mouseover)="img.setAttribute('src', '../../../assets/images/lupaCrvena.png');"
            (mouseleave)="img.setAttribute('src', '../../../assets/images/lupaSiva.png')"
            (click)="search($event, s.value)" class="btn">
            <img #img src="../../../assets/images/lupaSiva.png" alt="" srcset="" width="30px">
          </button>
        </form>

      </ul>
    </div>
  </div>
  <div class="search-dropdown" *ngIf="searchResults.length > 0 && s.value != ''"
    [ngClass]="{'search-show': s.value != ''}">
    <div (click)="s.value = ''; collapse.classList.remove('show')" *ngFor="let movie of searchResults"
      routerLink="{{movie.title ? 'movie' : 'actor-details'}}/{{movie.id}}" class="search-card show-card">
      <img *ngIf="movie.poster_path || movie.profile_path"
        src="https://image.tmdb.org/t/p/original{{movie.poster_path? movie.poster_path : movie.profile_path}}" alt=""
        srcset="" width="100px">
      <div *ngIf="movie.title && !movie.poster_path" class="img-cover">
        <h2>SHOWTIME</h2>
      </div>
      <img *ngIf="movie.name && !movie.profile_path" src="../../../assets/images/profile.jpg" height="150px"
        width="100px" alt="">
      <div class="details">
        <h4>{{movie.title? movie.title : movie.name}}</h4>
        <h5>{{movie.title? 'Movie' : "Actor"}}</h5>
      </div>

    </div>
  </div>
<div #l class="line"></div>
</nav>