.navbar {
    /* z-index: 1 !important; */
    /* height: 80px !important; */
    background-color: #000000;
}

.navbar .navbar-brand {
    color: #E50914;
    font-weight: bold;
}

.navbar .navbar-brand:hover {
    opacity: 0.7;
}

.navbar-nav .nav-item .nav-link{
    color: #E50914;
}


.dropdown-menu {
    background-color: black;
}

.dropdown-menu .dropdown-item {
    color: gray;
}
.dropdown-menu .dropdown-item:hover {
    background-color: #E50914;
}

form {
    /* display: flex; */
    border: 1px solid #E50914;
    border-radius: 6px;
    
}
form input {
    color: white;
    background-color: #0000;
    position: relative;
    outline: none !important;
    border: none !important; 
}

form input::placeholder {
    color: gray;
}
/* form input:focus::placeholder {
    color: #E50914;
} */


/* form input::-webkit-search-cancel-button{
    color: gray;
    border: 1px solid #E50914;
} */
/* input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    content: 'X' ;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
  }
   */
  input:focus::-webkit-search-cancel-button {
    /* opacity: .3;
    pointer-events: all; */
    cursor: pointer;
  }
/* .form-control{
    color: white;
    background-color: gray;
} */


form input:focus{
    box-shadow: none !important;
  outline: 0 none;
}

.error-container {
    display: none;
    position: absolute;
    width: fit-content;
    bottom: 3px;
}
.error{
    width: fit-content;
    font-size: 12px;
    color: red;
}

.error-border{
    /* color: #e72929; */
    border: 2px solid #e72929;
}

.show-error{
    display: block;
}

.search-dropdown {
    visibility: hidden;
    position: absolute;
    top: 0px;
    width: 100%;
    height: fit-content;
    /* z-index: -1000; */
    background-color: #000000;
    /* transform: translateY(-80px); */
    /* transition: all 0.3s; */
    /* overflow-y: scroll; */
}



.search-dropdown::-webkit-scrollbar {
    width: 2px;
}

/* Track */
.search-dropdown::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

/* Handle */
.search-dropdown::-webkit-scrollbar-thumb {
    background: #E50914;
    border-radius: 5px;
    /* width: 1px; */
    /* height: 1px; */
}

.search-show {
    visibility: visible;
    transform: translateY(80px);
}

.search-card {
    display: none;
    /* border-bottom: 1px solid #E50914; */
    padding: 5px;
    border-radius: 5px;
}

/* .search-card:not(:last-child) {
    border-bottom: 1px solid #E50914
} */


.show-card {
    display: flex;
    align-items: center;
}

.show-card:hover {
    cursor: pointer;
    opacity: 0.7;
}

.show-card:hover h4 {
    color: #E50914;
}

.show-card h4 {
    margin-left: 20px;
    color: gray
}

.show-card:not(:last-child) {
    border-bottom: 1px solid #E50914
}

.navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(128, 128, 128)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.filter {
    /* visibility: hidden; */
    padding: 10px;
    position: absolute;
    right: -200px;
    top: 0px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: fit-content;
    background-color: black;
    /* z-index: -1; */
    /* border: 2px solid white; */
    justify-content: space-around;
    align-items: center;
    transform: translateY(80px);
    transition: all 0.3s;
    /* color: white; */
    border-radius: 0 0 0 5px;
}

.filter-show {
    visibility: visible;
    transform: translateX(-200px) translateY(80px);
}

.dropdown-menu.show {
    display: flex;
    flex-direction: column;
    height: 200px !important;
    width: fit-content!important;
    overflow-y: scroll;
    transform: translateX(-50%);
}

.radio-dropdown.show{
    height: fit-content !important;
    overflow: hidden;
}

.dropdown-menu::-webkit-scrollbar {
    width: 2px;
}

/* Track */
.dropdown-menu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

/* Handle */
.dropdown-menu::-webkit-scrollbar-thumb {
    background: #E50914;
    border-radius: 5px;
    /* width: 1px; */
    /* height: 1px; */
}

/* .genre-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content!important;

} */

.filter-btn, .reset-btn {
    color: gray;
    border: 1px solid #E50914 !important;
    border-radius: 6px;
    margin-right: 10px;
}

.filter-btn:hover, .reset-btn:hover {
    color: white;
    cursor: pointer;
    background-color: #E50914;
}

@media (max-width: 992px) {
    form {
        position: relative;
    }
    .error-container {
        position: absolute;
        width: fit-content;
        top: -20px
    }

    .search-show {
        visibility: visible;
        transform: translateY(140px);
    }
}

@media (min-width: 992px) {
    .navbar {
        height: 80px !important;
        background-color: #000000;
    }
}