<nav class="navbar navbar-expand-lg fixed-top" [ngStyle]="navbg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SHOWTIME</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown ms-lg-auto mb-1">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Genres
          </a>
          <ul class="dropdown-menu ">
            <li *ngFor="let genre of genres"><a class="dropdown-item"
                routerLink="genres/{{genre.name}}/{{genre.id}}">{{genre.name}}</a></li>
          </ul>
        </li>
      </ul>
      <form [formGroup]="searchForm" (submit)="search($event, s.value)" class="d-flex" role="search">
        <!-- <div class="input"> -->
          <input formControlName="searchTerm" #s (keyup.enter)="search($event, s.value)" [value]="s.value"
            class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <div *ngIf="fc.searchTerm.touched && fc.searchTerm.invalid && toggle" class="error-container">
            <div *ngIf="fc.searchTerm.errors?.required" class="error">You must insert search term</div>
          </div>
        <!-- </div> -->
        <button (click)="search($event, s.value)" class="btn">Search</button>
      </form>
    </div>
  </div>
</nav>
