.navbar {
    /* height: 80px !important; */
    background-color: #000000;
}

.navbar .navbar-brand {
    color: #E50914;
    font-weight: bold;
}

.navbar .navbar-brand:hover {
    opacity: 0.7;
}

.navbar-nav .nav-item .nav-link{
    color: #E50914;
}

.btn {
    outline:auto #E50914;
    border: 1px solid #E50914;
    color: gray;
}

.btn:hover {
    background-color: #E50914;
}

.dropdown-menu {
    background-color: black;
}

.dropdown-menu .dropdown-item {
    color: gray;
}
.dropdown-menu .dropdown-item:hover {
    background-color: #E50914;
}

form {
    /* display: flex; */
    
}
form input {
    position: relative;
    outline: #E50914 !important;
    border: 2px #E50914 !important;
}
form input:focus {
    box-shadow: 0 1px 1px #E50914 inset, 0 0 8px #E50914;
  outline: 0 none;
}

.error-container {
    position: absolute;
    width: fit-content;
    bottom: 3px;
}
.error{
    width: fit-content;
    font-size: 12px;
    color: red;
}

.error-border{
    /* color: #e72929; */
    border: 2px solid #e72929;
}


.navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(128, 128, 128)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (max-width: 992px) {
    form {
        position: relative;
    }
    .error-container {
        position: absolute;
        width: fit-content;
        top: -20px
    }
}

@media (min-width: 992px) {
    .navbar {
        height: 80px !important;
        background-color: #000000;
    }
}