<nav class="navbar navbar-expand-lg fixed-top" [ngStyle]="navbg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SHOWTIME</a>
    <button (click)="hideError()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div #collapse class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown ms-lg-auto mb-1">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Genres
          </a>
          <ul class="dropdown-menu ">
            <li *ngFor="let genre of genres"><a class="dropdown-item"
                routerLink="genres/{{genre.name}}/{{genre.id}}">{{genre.name}}</a></li>
          </ul>
        </li>
      </ul>
      <form [formGroup]="searchForm" (submit)="search($event, s.value)" class="d-flex" role="search">
        <!-- <div class="input"> -->
          <input id="searchInput" formControlName="searchTerm" (keyup)="showResults(s.value)" #s (keyup.enter)="search($event, s.value)" [value]="s.value"
            class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <div class="error-container">
            <div class="error">You must insert search term</div>
          </div>
        <!-- </div> -->
        <!-- <li class="nav-item dropdown ms-lg-auto mb-1"> -->
          <button (click)="search($event, s.value)" class="btn" >Search</button>
          <!-- <ul class="dropdown-menu ">
            <li *ngFor="let genre of genres"><a class="dropdown-item"
                routerLink="genres/{{genre.name}}/{{genre.id}}">{{genre.name}}</a></li>
          </ul> -->
        <!-- </li> -->
        
      </form>
      
    </div>
  </div>
  <div class="search-dropdown" *ngIf="searchResults$ |async as searchResults"  [ngClass]="{'search-show': s.value != ''}">
        <div (click)="s.value = ''; collapse.classList.remove('show')" *ngFor="let movie of searchResults.results; let i = index" routerLink="movie/{{movie.id}}" class="search-card" [ngClass]="{'show-card':i < 4}">
          <img src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" alt="" srcset="" width="100px">
          <h4>{{movie.title}}</h4>
        </div>
  </div>
</nav>

