.nav-link:hover {
    cursor: pointer;
    opacity: 0.6;
}


form {
    position: relative;
    border: 1px solid #E50914;
    border-radius: 6px;
    /* width: 50px; */
    /* opacity: 0; */
    transition: all .3s;
}

form .btn {
    /* position: absolute; */
    border-right: 1px solid #E50914;
    border-radius: 0px;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}



form ul.dropdown-menu {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: fit-content !important;
    height: fit-content !important;
    overflow: hidden;
    transform: translateX(0);
}


form li:hover {
    cursor: pointer;
}

.drop {
    display: flex;
    flex-direction: column;
    width: 100px !important;
    height: fit-content !important;
    overflow: hidden;
}

form input {
    color: white;
    background-color: #0000;
    position: relative;
    outline: none !important;
    border: none !important; 
}

form input::placeholder {
    color: gray;
}

form input:focus{
    box-shadow: none !important;
  outline: 0 none;
}

ul.dropdown-menu.types{
    width: 100px!important;
}

.type-btn{
    background-color: gray;
    color: black !important;
    outline: none !important;
    border: none !important;
    border-radius: 3.8px 0 0 3.8px !important;
    transition: all .4s;
}

.type-btn:hover {
    color: white;
    cursor: pointer;
    background-color: #E50914;
    outline: none !important;
    border: none !important;
    border-radius: 4px 0 0 4px !important;
    
}

.types {
    /* border: 1px solid #E50914; */
    width: 100px !important;
}
.types li.dropdown-item {
    /* width: fit-content!important; */
}


.search-dropdown {
    visibility: hidden;
    position: absolute;
    top: 0px;
    width: 100%;
    height: fit-content;
    background-color: #000000;
    transition: all .3s;
}

.search-show {
    visibility: visible;
    transform: translateY(80px);
}


.search-card {
    display: flex;
    opacity: 0;
    visibility: hidden;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s;
}

.img-cover {
    width: 100px;
    height: 140px;
    background-color: gray;
    border: 1px solid #E50914;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-cover h2 {
    color: #E50914;
    text-align: center;
    text-justify: center;
    font-weight: bold;
    font-size: 16px;
}


.search-card .details h4 {
    margin: 0px;
}

.show-card {
    opacity: 1;
    visibility: visible;
    /* display: flex; */
    align-items: center;
}

.show-card:hover {
    cursor: pointer;
    opacity: 0.7;
}

.show-card:hover h4 {
    color: #E50914;
}

.search-card .details{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.show-card h4 {
    /* margin-left: 20px; */
    color: gray
}

.show-card:not(:last-child) {
    border-bottom: 1px solid #E50914
}


.dropdown-menu.show {
    display: flex;
    flex-direction: column;
    height: 200px !important;
    width: fit-content!important;
    overflow-y: scroll;
    transform: translateX(-25%);
}

.line {
    position: fixed;
    top: 77px;
    left: 0;
    height: 3px;
    background-color: #E50914;
    width:0px
}



@media (max-width: 992px) {
    ul.dropdown-menu.show {
        width: 100%!important;
    }
    a.dropdown-item{
        width: 100%!important;
    }
    form {
        position: relative;
    }

    .search-show {
        visibility: visible;
        transform: translateY(180px);
    }

    .dropdown-menu.show{
        transform: translate(0);
    }
    form input{
        z-index: 0!important;
    }
    .line {
        top: 53px;
    }
}

@media (min-width: 992px) {
    .navbar {
        height: 80px !important;
        background-color: #000000;
    }
    form .btn:first-child {
        opacity: 0;
    }
    form .btn:last-child {
        opacity: 1;
        position: absolute;
        border-right: none;
        border-radius: 0px;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000000;
        /* border: none; */
        /* z-index: 3000; */
    }
    form {
        position: relative;
        /* border: 1px solid #E50914; */
        border: none;
        border-radius: 6px;
        width: 50px;
        /* opacity: 0; */
        transition: all .3s;
    }
    .form-expand {
        width: 400px;
        border: 1px solid #E50914;
    }
    
    .form-expand .btn:last-child {
        /* position: relative; */
        background-color: transparent;
    }
    .form-expand .btn:first-child {
        opacity: 1;
        /* background-color: transparent; */
    }
    
}