<div id="guide" #fb (click)="showFilter(f, fb, a)" >
    <div class="white-cover"></div>
    <div class="arrow">
      <img #a id="toggleArrow" src="../../../assets/images/guideWhite_left.png" alt="" srcset="">
        <div class="letters">
            <p>F</p>
            <p>I</p>
            <p>L</p>
            <p>T</p>
            <p>E</p>
            <p>R</p>
        </div>   
    </div>
    <div class="buttons">
        
    </div>
  </div>
  <div #f class="filter">
    <ul class="navbar-nav">
      <li class="nav-item dropdown ms-lg-auto mb-1">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Genres
        </a>
        <ul class="dropdown-menu filter-dropdown">
          <li class="dropdown-item genre-checkbox" *ngFor="let genre of genres">
            <input #inputCheckbox class="genre-input checkbox-input" (change)="checkboxValue($event)" type="checkbox" name="" id="{{genre.name}}" [value]="genre.id">
            <label for="#{{genre.name}}">{{genre.name}}</label>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown ms-lg-auto mb-1">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Year
        </a>
        <ul class="dropdown-menu ">
          <li class="dropdown-item genre-checkbox" *ngFor="let year of years">
            <input #inputCheckbox class="year-input checkbox-input" (change)="checkboxValue($event)" type="checkbox" name="checkbox" id="{{year}}" [value]="year">
            <label for="#{{year}}">{{year}}</label>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown ms-lg-auto mb-1">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Country
        </a>
        <ul class="dropdown-menu ">
          <li class="dropdown-item genre-checkbox" *ngFor="let country of countries; let i = index">
            <input #inputCheckbox class="countries-input checkbox-input" (change)="checkboxValue($event)" type="checkbox" name="checkbox" id="{{country.english_name}}" [value]="country.iso_639_1">
            <label for="#{{country.english_name}}">{{country.english_name}}</label>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown ms-lg-auto mb-1">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Sort by
        </a>
        <ul class="dropdown-menu radio-dropdown">
          <li class="dropdown-item sort-radiobox" (click)="$event.preventDefault()">
            <input (change)="checkboxValue($event)" class="radio-input" type="radio" name="check" id="vad" value="vote_average.desc">
            <label for="#vad">Rating Descending</label>
          </li>
          <li class="dropdown-item sort-radiobox" (click)="$event.preventDefault()">
            <input (change)="checkboxValue($event)" class="radio-input" type="radio" name="check" id="vaa" value="vote_average.asc">
            <label for="#vaa">Rating Ascending</label>
          </li>
          <li class="dropdown-item sort-radiobox" (click)="$event.preventDefault()">
            <input (change)="checkboxValue($event)" class="radio-input" type="radio" name="check" id="pd" value="popularity.desc">
            <label for="#pd">Popularity Descending</label>
          </li>
          <li class="dropdown-item sort-radiobox" (click)="$event.preventDefault()">
            <input  (change)="checkboxValue($event)"class="radio-input" type="radio" name="check" id="pa" value="popularity.asc">
            <label for="#pa">Popularity Ascending</label>
          </li>
        </ul>
      </li>
    </ul>
    <div class="btns">
      <button (click)="filter()" class="btn filter-btn">Filter</button>
      <button (click)="resetFilter()" class="btn reset-btn">Reset</button>
    </div>
  </div>

