.container {
    margin-top: 90px !important;
}

h2 {
    color: white;
    width: fit-content;
    height: fit-content;
}

.sort-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sort {
    background-color: black;
    color: white;
    outline: none;
    border: none;
    width: fit-content;
    height: fit-content;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.sort-text {
    color: gray;
    height: fit-content;
    width: fit-content;
}

select:focus>option:checked {
    background: #000 !important;
}

option {
    color: gray;
    padding: 2px;
}

option:hover {
    background-color: #E50914 !important;
    color: gray !important;
    cursor: pointer !important;
}

#sort:hover {
    cursor: pointer;
    color: gray;
}

a {
    text-decoration: none;
    transition: transform 0.4s;
    background-color: black;
    outline: #E50914;
    border-bottom: 3px solid #e509149a;
    /* overflow: hidden; */

}

h5 {
    color: #E50914;
    ;
    font-weight: bold;
}

a p {
    color: gray;
}

.card-body {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    text-overflow: ellipsis;
    height: 120px;
}

a:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.row {
    margin: 20px auto !important;
    padding: 0;
}

.card {
    transition: all .4s;
}

.card:hover {
    opacity: 0.6;
}

.img-cover {
    width: 100%;
    height: 100%;
    background-color: gray;
    border: 1px solid #E50914;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-cover h2 {
    color: #E50914;
    text-align: center;
    text-justify: center;
    font-weight: bold;
}

.watchlist {
    position: absolute;
    top: 0;
    left: 12px;
    background-color: #E50914;
    opacity: 0.8;
    padding: 2px;
}

.watchlist:hover {
    cursor: pointer;
    opacity: 1;
}

.watchlist img {
    height: 30px;
    width: 23px;
}

.checked {
    background-color: gray !important;
}

.popover {
    visibility: hidden;
    position: absolute;
    right: 0;
    top: -20px;
    transform: translateX(110%);
    background-color: #E50914;
    color: black;
    padding: 3px;
    transition: 0.3s ease-out;
    font-weight: 500;
    z-index: 3000;
}

.gray {
    color: gray;
}

.show-popover {
    visibility: visible;
}

.year {
    color: rgb(49, 58, 73);
    /* color: white; */
    font-size: 18px;
}

.rating {
    position: absolute;
    top: 2px;
    right: 14px;
    font-size: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.534);
    color: white;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 3px;
    outline: 2px solid rgb(49, 58, 73);

}

.rating .star {
    font-size: 8px;
    margin: 0;
    width: fit-content;
    height: fit-content;
    padding: 0;
}

.green {
    border: 3px solid rgb(17, 77, 17);
}

.lightgreen {
    border: 3px solid rgb(44, 185, 39);
}

.greenyellow {
    border: 3px solid rgb(161, 184, 27);
}

.yellow {
    border: 3px solid rgb(247, 222, 0);
}

.red {
    border: 3px solid red;
}

@media (max-width: 768px) {
    h2 {
        font-size: 16px;
    }
    .sort-cont {
        flex-direction: column;
    }
    .sort-text {
        font-size: 10px!important;
    }
    #sort {
        font-size: 9px!important;
    }
    option {
        text-align: center;
    }
    .card {
        width: 22rem !important;
    }

    /* .img-cover {
        height: 390px;
    } */
}

@media (max-width: 992px) {
    .sort-text {
        font-size: 16px;
    }
    #sort {
        font-size: 15px;
    }
    .card {
        width: 20rem !important;
    }

    .container {
        margin-top: 50px !important;
    }
}

@media (max-width: 1198px) {
    .card {
        width: 18rem !important;
    }

    .img-cover {
        height: 390px;
    }
}

@media (min-width: 1198px) {
    .card {
        width: 15rem !important;
    }

    .img-cover {
        height: 320px;
    }
}