<div *ngIf="movie" class="container mt-5 p-3">
    <div class="row">
        <img src="https://image.tmdb.org/t/p/original{{movie.backdrop_path? movie.backdrop_path : movie.poster_path}}"
            alt="" srcset="">
        <!-- <iframe [src]="movieTrailerUrl | safe" frameborder="0"></iframe> -->
        <div class="title">
            <h3 class="me-2">{{movie.title}}</h3>
            <h5 id="title2">({{movie.original_title}})</h5>
        </div>
        <p>{{movie.overview}}</p>
    </div>
    <div class="row mb-5">
        <div class="ratgen col-md-6">
            <h4 (click)="addToWatchlist(movie, img)">{{watchlist? 'Remove from Watchlist':'Add to Watchlist'}} <div class="watchlist">
                <img #img src="../../../assets/images/{{watchlist ? 'xRed2.png':'watchRed.png'}}" alt="" srcset="">
            </div></h4>
            <h5>⭐Rating: <span class="gray">{{movie.vote_average | number: '1.0-1'}}({{movie.vote_count
                    }}🗣️)</span></h5>
            <h5>Genres: <a *ngFor="let genre of movie.genres"
                    routerLink="/genres/{{genre.name}}/{{genre.id}}/1">{{genre.name}}</a></h5>
            <h5>Runtime: <span class="gray">{{movie.runtime}}m</span></h5>
            <h5>Release date: <span class="gray">{{movie.release_date}}</span></h5>
            <h5>Status: <span class="gray">{{movie.status}}</span></h5>
            <h5>Production counrties: <span class="gray"
                    *ngFor="let country of movie.production_countries">{{country.name}}</span>
            </h5>
            <h5>Production companies: <span class="gray"
                    *ngFor="let company of movie.production_companies">{{company.name}}</span>
            </h5>
        </div>
        <div *ngIf="movieTrailerUrl$ | async as trailerUrl" class="trailer col-md-6">
            <h5>Trailer:</h5>
            <iframe [src]=" trailerUrl | safe" frameborder="2"></iframe>
        </div>
    </div>
    <app-movies-scroll-x-container title="Recommended Movies" [movies]="movieRecommendations"
        width="200px"></app-movies-scroll-x-container>

    <div class="container justify-content-center">
        <h4>Cast</h4>
        <div class="row castrow justify-content-center justify-content-md-start">
            <a *ngFor="let cast of casts$ | async" class="cast col-12 col-md-6 col-lg-4"
                routerLink="/actor-details/{{cast.id}}">
                <img *ngIf="cast.profile_path" src="https://image.tmdb.org/t/p/original/{{cast.profile_path}}">
                <img *ngIf="!cast.profile_path" src="../../../assets/images/profile.jpg" alt="">
                <div class="details">
                    <h4>{{cast.name}}</h4>
                    <p>{{cast.character}}</p>
                </div>
            </a>
        </div>
    </div>
</div>