
h3 {
    color: #E50914;
}

p {
    color: gray;
}

h4 {
    color: white;
}

h5 {
    color: white;
}

h5 a {
    color: #E50914;
    text-decoration: none;
    margin-right: 5px;
}

.gray {
    color: gray;
}

h5 a:hover {
    opacity: 0.5;
}

h5 a:not(:last-child)::after {
    content: ',';
    color: white;
}

h5 span {
    margin-right: 5px;
}
h5 span:not(:last-child)::after {
    content: ',';
    color: white;
}

.container {
    margin-top: 90px!important;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.castrow {
    margin: 0;
}

.cast {
    text-decoration: none;
    display: flex;
    margin-bottom: 15px;
    transition: all .4s;
}

.cast:hover {
    cursor: pointer;
    opacity: 0.6;
    transform: scale(1.05);
}

.cast img {
    width: 100px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.details h4 {
    color: white;
}

.trailer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #e50914a2; */
}
.trailer h5 {
    align-self: self-start;
    margin-right: 10px;
}

iframe {
    width: 300px;
}

.ratgen h4 {
    color: #E50914;
    width: fit-content;
}
.ratgen h4:hover {
    cursor: pointer;
    opacity: 0.6;
}

.watchlist {
    position: relative;
    display: inline-block;
    /* background-color: #E50914; */
    border-radius: 3px;
    /* border: 2px solid #E50914; */
}

.watchlist img {
    height: 25px;
    width: 20px;
}

.dudu {
    visibility: hidden;
    width: fit-content;
    position: absolute;
    top: 0;
}



@media (max-width: 767px) {
    .title {
        flex-direction: column;
        align-items: start;
    }
    .container {
        margin-top: 50px!important;
    }
    
}
@media (max-width: 992px) {
    .container {
        margin-top: 50px!important;
    }
    
}