
.actors{
    margin-top: 90px;
}

.actors img {
    width: 100px;
}

.actor {
    display: flex;
    flex-direction: row;
    transition: all 0.3s;
}

.actor:hover {
    opacity: 0.5;
    cursor: pointer;
    transform: scale(1.05);
}

.actors .details {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.actor h6 {
    color: gray;
}

/* .movies {
    margin-top: 50px!important;
} */

h2 {
    color: white;
}

.actors a {
    text-decoration: none!important;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: transform 0.4s;
    background-color: black;
    outline: #E50914;
    border-bottom: 3px solid #e509149a;
}

h5 {
    color: #E50914;;
    font-weight: bold;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.pages a {
    color: #E50914;
    text-decoration: none !important;
}
.pages a:not(:last-child) {
    margin-right: 30px;
    color: #E50914;
}
.pages a:hover {
    cursor: pointer;
    opacity: 0.6;
}
.pages a:visited {
    color: #691116;
}

.active {
    transform: scale(1.5)!important;
    text-decoration: underline!important;
    border-bottom: 1px solid #691116;
    border-top: 1px solid #691116;
    border-radius: 2px 2px 2px 2px;
}
.gray {
    color: gray;
}

@media (max-width: 768px) {
    .pages {
        width: 100%;
    }
    .pages a:not(:last-child){
        margin-right: 8px;
    }
    .pages a {
        font-size: 8px;
    }
}


@media (max-width: 992px) {
    .actors {
        margin-top: 50px;
    }
}



