.container {
    margin-top: 100px;
}

.photo {
    position: relative;
    width: fit-content;
    height: fit-content;
    justify-self: center;
    align-self: center;
    color: black;
    text-shadow: 0 0 10px white;
    margin-bottom: 20px;
}

.img-cover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    z-index: 100;
    background: rgb(229, 9, 20);
    background: linear-gradient(0deg, rgba(229, 9, 20, 0.7553396358543417) 0%, rgba(251, 251, 251, 0) 90%);
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    font-weight: 600;
    align-items: center;
}

.photo:hover {
    cursor: pointer;
}

.photo:hover .img-cover {
    height: 100%;
}

.details {
    display: flex;
}

.details-more {
    color: gray;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.details-more .red {
    color: #E50914;
}

.details-more .white {
    color: white;
}

.biography {
    margin-top: 30px;
}

.biography h3 {
    color: white;
}

.biography p {
    color: gray;
}


img {
    width: 200px;
}

.rec ::ng-deep .container {

    max-width: fit-content;
    margin: 0 auto 0 0;

}

.carousel {
    visibility: hidden;
    opacity: 0;
    margin: 0 auto;
    width: 0px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5000;
    transition: all 0.4s;
}

.carousel-show {
    visibility: visible;
    opacity: 1;
    width: 32%;
}

.blur{ 
    opacity: 0;
    visibility: hidden; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    transition: all .3s;
}

.blur.blur-show {
    opacity: 1;
    visibility: visible;
    scroll-snap-stop:always;
    overflow: hidden;
    /* z-index: 2000; */
}

@media(max-width:500px) {
    .carousel-show {
        width: 80%!important;
    }
}

@media (max-width: 767px) {
    .details {
        flex-direction: column;

    }

    .details img {
        width: 350px;
        /* margin: 0 auto 20px auto; */
    }

    .details-more {
        margin-left: 0px;
    }

    .carousel-show {
        width: 60%;
    }
}

@media (min-width: 1600px) {
    .carousel-show {
        width: 25%;
    }
}