#title {
    color: #E50914;
    font-weight: bold;
    font-size: 30px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.452) !important;
}

img:hover {
    cursor: pointer;
}


@media (max-width: 767px) {
    .carousel-caption {
        background-color: transparent !important;
    }

    #title {
        font-size: 20px !important;
        /* font-size: 50px; */
        -webkit-text-stroke-width: 0.1px;
        -webkit-text-stroke-color: black;
    }
}