#title {
    color: #E50914;
    font-weight: bold;
    font-size: 30px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.452) !important;
}

img:hover {
    cursor: pointer;
}


@media (max-width: 767px) {
    .carousel-caption {
        background-color: transparent!important;
    }
    #title {
        font-size: 20px !important;
        text-shadow: 0px 0px 1.5px white;
    }
}