/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Ubuntu:wght@500&display=swap');

*{
    font-family: 'Ubuntu';
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    overflow-x: hidden;
}

.navbar {
    background-color: #000000;
    /* border-bottom: 2px solid #E50914 */
}

.navbar .navbar-brand {
    color: #E50914;
    font-weight: bold;
}

.navbar .navbar-brand:hover {
    opacity: 0.7;
}

.navbar-nav .nav-item .nav-link{
    color: #E50914;
}


.dropdown-menu {
    background-color: black;
    width: fit-content;
}

.dropdown-menu .dropdown-item {
    color: gray;
}
.dropdown-menu .dropdown-item:hover {
    background-color: #E50914;
}


.dropdown-menu::-webkit-scrollbar, .search-dropdown::-webkit-scrollbar {
    width: 2px;
}

/* Track */
.dropdown-menu::-webkit-scrollbar-track, .search-dropdown::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

/* Handle */
.dropdown-menu::-webkit-scrollbar-thumb, .search-dropdown::-webkit-scrollbar-thumb {
    background: #E50914;
    border-radius: 5px;    
}

.navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(128, 128, 128)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.toast-success {
    background-color: #E50914 !important;
}

.toast-span {
    color: gray
}

/* za svaki slucaj */


iframe {
    /* width: 100px; */
}

.ratgen h4 {
    color: #E50914;
    width: fit-content;
}
.ratgen h4:hover {
    cursor: pointer;
    opacity: 0.6;
}

.watchlist {
    position: relative;
    display: inline-block;
    /* background-color: #E50914; */
    border-radius: 3px;
    /* border: 2px solid #E50914; */
}

.watchlist img {
    height: 25px;
    width: 20px;
}

.dudu {
    visibility: hidden;
    width: fit-content;
    position: absolute;
    top: 0;
}

.review {
    position: relative;
    margin: 10px 0 10px 0;
    border-bottom: 3px solid #E50914;
    border-radius: 0 0 4px 4px;
    padding: 10px;
    min-height: fit-content;
    max-height: 200px;
    overflow: hidden;
    padding-right: 15px;
    transition: all .6s ease;
    opacity: 1;
    transition-timing-function: cubic-bezier(1, 1, 1, 1)
}

.review.review-expand {
    max-height: fit-content;
}

.review img {
    float: left;
    margin-right: 10px;
    shape-outside: circle(50%);
}

.imgs {
    float: left;
    margin-right: 10px;
    shape-outside: circle(50%);
}

.review-expand {
    max-height: fit-content!important;
}

.arrow {
    position: absolute;
    bottom: 10px;
    right: 5px;
    width: 12px;
    height: 12px;
    border-bottom: 3px solid #E50914;
    border-right: 3px solid #E50914;
    transform: rotate(45deg);
    /* z-index: 8000; */
    transition: all .3s;
}

.arrow-rotate {
    transform: rotate(225deg);
}

.arrow:hover {
    cursor: pointer;
    opacity: .5;
}


.name {
    color: #E50914;
    font-size: 18px;
}

.rating {
    color: white;
    font-size: 15px;
}

.date {
    color: rgb(49, 58, 73);
    font-size: 14px;
}



.review-content::-webkit-scrollbar {
    width: 2px;
}

/* Track */
.review-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

/* Handle */
.review-content::-webkit-scrollbar-thumb {
    background: #E50914;
    border-radius: 5px;
}

