<div class="container filter-cont">
    <div class="div">
        <h3>Genres: 
            <span routerLink="/genres/{{genre.name}}/{{genre.id}}/1" *ngFor="let genre of genres" class="gray" [ngClass]="{red: genre.name}">{{genre.name? genre.name : ' / '}}</span>
            <span class="gray" *ngIf="genres.length == 0">/</span>
        </h3>
    </div>
    <div class="div">
        <h3>Year of release: 
            <span *ngFor="let year of years" class="gray">{{year}}</span>
        </h3>
    </div>
    <div class="div">
        <h3>Country production: 
            <span *ngFor="let country of countries" class="gray">{{country.english_name}}</span>
            <span class="gray" *ngIf="countries.length == 0">/</span></h3>
    </div>
    <div class="div">
        <h3>Sorted by: <span class="gray">{{sortedBy}}</span></h3>
    </div>
</div>
<app-movie-card [searchRes$]="searchRes$" type="Movie" title="Movies" [visible]="searchRes$.length > 0"></app-movie-card>

