
<div *ngIf="companyName != ''" class="company">
    <app-movie-card [searchRes$]="searchRes$" type="Movie" [title]="companyName" [totalRes]="totalResults" [visible]="searchRes$.length > 0"></app-movie-card></div>
<div *ngIf="companyName == ''" class="non-company">
    <div *ngIf="companyName == ''" class="container filter-cont">
        <div class="div d-flex">
            <h3>Genres: </h3>
            <div (click)="removeFilter(genre.id, 'genre')" *ngFor="let genre of genresNames; let i=index" class="filt d-flex align-items-center">
                <span  class="gray x">{{genre?.name? genre.name : ' / '}} <span class="del">&#10006;</span> </span>
                <span class="comma" *ngIf="i != genresNames?.length - 1">,</span>
            </div>
            <span class="gray" *ngIf="genresNames?.length == 0">/</span>
        </div>
        <div class="div d-flex">
            <h3>Year of release: </h3>
            <div (click)="removeFilter(year, 'year')" *ngFor="let year of years; let i=index" class="filt d-flex align-items-center">
                <span class="gray x">{{year}} <span class="del">&#10006;</span> </span>
                <span class="comma" *ngIf="i != years?.length - 1">,</span>
            </div>
            <span class="gray" *ngIf="years?.length == 0 || years[0]?.length == 0">/</span>
        </div>
        <div class="div d-flex">
            <h3>Country production:</h3>
            <div (click)="removeFilter(country?.iso_3166_1, 'country')" *ngFor="let country of countriesNames; let i=index" class="filt d-flex align-items-center">
                <span  class="gray x">{{country?.english_name}} <span class="del">&#10006;</span> </span>
                <span class="comma" *ngIf="i != countriesNames?.length - 1">,</span>
            </div>
            <span class="gray" *ngIf="countriesNames?.length == 0">/</span>
        </div>

        <div class="div d-flex">
            <h3>Language: </h3>
            <div (click)="removeFilter(language?.iso_639_1, 'language')" *ngFor="let language of languagesNames; let i=index" class="filt d-flex align-items-center">
                <span  class="gray x">{{language?.english_name}} <span class="del">&#10006;</span> </span>
                <span class="comma" *ngIf="i != languagesNames?.length - 1">,</span>
            </div>
            <span class="gray" *ngIf="languagesNames?.length == 0">/</span>
        </div>
        <div class="div">
            <h3>Sorted by: <span class="gray">{{sortedBy}}</span></h3>
        </div>
    </div>
    <app-movie-card [searchRes$]="searchRes$" type="Movie" title="" [totalRes]="totalResults" [visible]="searchRes$.length > 0"></app-movie-card>
</div>
<div *ngIf="totalPages > 0" class="container">
    <div class="pages">
        <a class="prevNext" *ngIf="currentPage > 1 " [routerLink]="['/filter']" [queryParams]="{
            genre: genres,
            sort: sort, 
            year: years, 
            language: languages, 
            country: countriesIso,
            page: +currentPage - 1,
            company: companyId
        }">&larr; Prev Page</a>
        <a *ngIf="currentPage > 1 + 3" #fp [routerLink]="['/filter']" [queryParams]="{
            genre: genres,
            sort: sort, 
            year: years, 
            language: languages, 
            country: countries,
            page: 1,
            company: companyId
        }" [ngClass]="{'active':1 == currentPage}">1</a>
        <a *ngIf="currentPage > 1 + 4">...</a>
        <a #cp *ngFor="let page of pages" [routerLink]="['/filter']" [queryParams]="{
            genre: genres,
            sort: sort, 
            year: years, 
            language: languages, 
            country: countriesIso,
            page: page,
            company: companyId
        }" [ngClass]="{'active':page == currentPage}">{{page}}</a>
        <a *ngIf="currentPage < totalPages - 4">...</a>
        <a #lp [routerLink]="['/filter']" [queryParams]="{
            genre: genres,
            sort: sort, 
            year: years, 
            language: languages, 
            country: countriesIso,
            page: totalPages,
            company: companyId
        }" [ngClass]="{'active':totalPages == currentPage}">{{totalPages}}</a>
        <a class="prevNext" *ngIf="currentPage < totalPages " [routerLink]="['/filter']" [queryParams]="{
            genre: genres,
            sort: sort, 
            year: years, 
            language: languages, 
            country: countriesIso,
            page: +currentPage + 1,
            company: companyId
        }">Next Page
            &rarr;</a>

    </div>
</div>