.filter-cont {
    margin-top: 90px;
}

.filter-cont h3 {
    color: white;
    margin-right: 5px;
}

.div {
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.gray {
    color: gray;
    text-align: center;
    font-size: 22px;
}

.x {
    color: #E50914;
    text-decoration: none;
    display: flex;
    /* border: 1px solid gray; */
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    padding: 2px 6px;
    font-size: 16px;
    width: fit-content;
    height: fit-content;
    background-color: rgb(146, 144, 144);
    font-weight: 600;
    transition: all .3s;
    text-align: center;
}

.del {
    display: inline;
    width: fit-content;
    height: fit-content;
    text-align: center;
    font-size: 10px;
    margin-left: 4px;
}

.x:hover {
    transform: scale(1.06);
    color: rgb(49, 58, 73);
    background-color: #E50914;
    cursor: pointer;
}
.comma {
    font-size: 22px!important;
    color: white;
    margin-right: 5px;
}

.red {
    color: #E50914;
}

.red:hover {
    opacity: 0.6;
    cursor: pointer;
}

.nav-link:hover {
    cursor: pointer!important;
    opacity: 0.6!important;
}
.pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.pages a {
    color: #E50914;
    text-decoration: none!important;
}
.pages a:not(:last-child) {
    margin-right: 30px;
    color: #E50914;
}
.pages a:hover {
    cursor: pointer;
    opacity: 0.6;
}
.pages a:visited {
    color: #691116;
}

.active {
    /* font-size: 20px;
    font-weight: 600; */
    transform: scale(1.5)!important;
    text-decoration: underline!important;
    border-bottom: 1px solid #691116;
    border-top: 1px solid #691116;
    border-radius: 2px 2px 2px 2px;
}

@media (max-width: 768px) {
    .pages {
        width: 100%;
    }
    .pages a:not(:last-child){
        margin-right: 10px!important;
    }
    .pages a {
        font-size: 8px!important;
    }
}

@media (max-width:992px) {
    .pages a:not(:last-child){
        margin-right: 18px;
    }
    .pages a {
        font-size:16px;
    }
    .filter-cont {
        margin-top: 50px;
    }
    
    .non-company {
        margin-top: 70px;
    }
}
