.filter-cont {
    margin-top: 90px;
}

.filter-cont h3 {
    color: white;
}

.gray {
    color: gray;
}

.gray:not(:last-child)::after {
    content: ', ';
}

.red {
    color: #E50914;
}

.red:hover {
    opacity: 0.6;
    cursor: pointer;
}

.nav-link:hover {
    cursor: pointer!important;
    opacity: 0.6!important;
}



@media (max_width: 992px){
    .filter-cont {
        margin-top: 50px;
    }
    
}